.listable {
    
}
.listable table {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
  border-collapse: collapse;
}
.listable table td,
.listable table th {
  padding: 10px;
  text-align: center;
}
.listable table thead {
  border-bottom: 1px solid black;
}
.listable table tbody tr:hover {
  cursor: pointer;
  background: rgb(230, 230, 230);
}
